* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

 
}

:root {
  --bg-primary: rgb(47, 46, 65);
  --white: rgb(255,255,255);
  --blue: rgb(0, 191, 166);
  --ff-primary: "JetBrains Mono", monospace;
  --ff-secondary: "Open Sans", sans-serif;

  

  font-size: 62.5%;
}

#body{
  background: rgb(59,57,85);
  background: radial-gradient(circle, rgba(59,57,85,1) 45%, rgba(47,46,65,1) 100%);
}

#header nav {
  display: flex;
  align-items: center;
  height: 12rem;
  justify-content: space-between;

  font-family: var(--ff-primary);
  font-size: 1.4rem;

  margin: 0 9.9rem 0 9.9rem;
}

nav img{
    width: 30rem;
}

ul {
  display: flex;
  gap: 64px;
}

ul li {
  list-style: none;
}

ul li a {
  font-family: "JetBrains Mono", monospace;
  font-weight: medium;
  color: white;
  position:relative;
  font-size: 1.8rem;
  line-height: 2.8rem;
  text-decoration: none;
  transition: all ease-in-out 250ms;
}

ul li a:hover{
  color: var(--blue);
}

ul li a::after{
  content: '';
  position:absolute;
  display:block;
  height: 0.4rem;
  width: 0%;
  background: var(--blue);
  bottom: -1rem;
  transition: all ease-in-out 250ms;
}

ul li a:hover::after{
  width: 60%;
}


#aboutCvContent{
  justify-content: space-between;
  display:flex;
  align-items:center;
  height: 60rem;
  margin: 0rem 9.9rem 0 9.9rem;
}

#aboutCv h2{
  color: var(--white);
  font-family: var(--ff-secondary);
  text-transform: uppercase;
  font-size: 2.5rem;
}

#aboutCv h1{
  margin-top: 3rem;
  color: var(--blue);
  font-family: var(--ff-secondary);
  font-size: 5rem;
  font-weight: 5rem
}

#aboutCv p{
  margin-top: 3rem;
  font-family: var(--ff-secondary);
  font-size: 1.6rem;
  color: #C2C2C2;
  width: 50rem
}

#aboutCv button{
  margin-top: 3rem;
  width: 25rem;
  height: 5rem;

  background:none;
  border: 1.5px solid var(--blue);
  color: var(--blue);
  font-family: var(--ff-primary);
  font-weight: 500;
  transition: 0.3s;

  cursor: pointer

}

#aboutCv button:hover{
  background: var(--blue);
  color: var(--white);
}

#aboutCv img{
  width: 70rem
}

#aboutMe{
  background: rgba(0, 0, 0, 0.5);
}

#aboutMe button{
  background: none;
  border:none;
  cursor: pointer;

  color: var(--blue);
  transition: 0.3s;
  font-size: 4rem;
}

#aboutMe button:hover{
font-size: 4.5rem;
color: #059784;
}

#socialMediasBtt{
  display: flex;
  margin: 3rem 0 0 0rem;
  justify-content: space-evenly;
}

#aboutMeContent{
  justify-content: space-around;
  display:flex;
  align-items:center;
  height: 60rem;
  margin: 0rem 9.9rem 0 9.9rem;
}

#aboutMe img{
  border: 0.5rem solid var(--blue);
  border-radius: 30rem;
  width: 30rem;
  padding: 1rem
}

#about{
  display: flex;
  align-items: center;
  font-size: 2.5rem;
  color: var(--blue);
}

#aboutMeText{
  font-family: var(--ff-secondary);
  width: 70rem;
}

#aboutMeText h1{
  margin-left: 2rem;

  color: var(--white);
  font-weight: 700;
  font-size: 3rem;
}

#aboutMeText h2{
  margin-top: 4rem;
  font-size: 2rem;

  color:var(--white);
}

#aboutMeText p{
  margin-top: 2rem;
  font-size: 1.6rem;
  color:#C2C2C2;
  text-align: justify ;
}

#skills{
  margin: 9.9rem 0  ;
  display: flex;
  flex-direction: column;
  height: 40rem;
}

#skillsTitle{
  justify-content: center;
  align-items: center;
  display: flex;
  color: var(--blue);
  font-size: 2.5rem;
}

#skillsTitle h1{
  margin-left: 2rem;

  color: var(--white);
  font-weight: 700;
  font-size: 3rem;
}


#skillContent{
  margin-top: 5rem;
  display: flex;
  justify-content: space-evenly;
}

#lab{
  height: 40rem;
}

#labTitle{
  justify-content: center;
  align-items: center;
  display: flex;
  color: var(--blue);
  font-size: 2.5rem;
}

#labTitle h1{
  margin-left: 2rem;

  color: var(--white);
  font-weight: 700;
  font-size: 3rem;
}